<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <main>
        <ul>
            {{ range . }}
            {{ template "qa" . }}
            {{ end }}
        </ul>
    </main>
</body>
</html>

{{define "qa"}}
<li><strong>{{.Q}}</strong></li>
<li>{{.A}}</li>
{{end}}